# node modules 
node_modules
.pnpm-store
# build cache
build/
.plasmo/
dist/
.output/
.vercel/
# env files 
.env
.env.*
!.env.example
# npm logs 
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# system cache
.DS_Store
Thumbs.db
# ide cache
.idea/
.vscode/
*.swp
*.swo
# testing cache
coverage/
# temps
tmp/
temp/
